apiVersion: v1
kind: Service
metadata:
  name: api-gateway
  namespace: payflow
spec:
  type: ClusterIP
  selector:
    app: api-gateway
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: payflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      # Security Context for Logs
      securityContext:
        fsGroup: 1001
      
      containers:
        - name: api-gateway
          image: payflow-gateway:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 3000
          
          # Resource Limits
          resources:
            requests:
              memory: "128Mi"
              cpu: "100m"
            limits:
              memory: "512Mi"
              cpu: "500m"

          env:
            - name: PORT
              value: "3000"
            - name: NODE_ENV
              valueFrom:
                configMapKeyRef:
                  name: payflow-config
                  key: NODE_ENV
            
            # --- SERVICE DISCOVERY (Connecting to the Grid) ---
            - name: AUTH_SERVICE_URL
              valueFrom:
                configMapKeyRef:
                  name: payflow-config
                  key: AUTH_SERVICE_URL
            - name: WALLET_SERVICE_URL
              valueFrom:
                configMapKeyRef:
                  name: payflow-config
                  key: WALLET_SERVICE_URL
            - name: TRANSACTION_SERVICE_URL
              valueFrom:
                configMapKeyRef:
                  name: payflow-config
                  key: TRANSACTION_SERVICE_URL
            - name: NOTIFICATION_SERVICE_URL
              valueFrom:
                configMapKeyRef:
                  name: payflow-config
                  key: NOTIFICATION_SERVICE_URL
            # --------------------------------------------------

            # Security (Needs to verify JWTs from Auth Service)
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: payflow-secrets
                  key: JWT_SECRET

          # Logs Volume Mount
          volumeMounts:
            - name: logs-volume
              mountPath: /app/logs

          # Relaxed Probes
          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 60
            periodSeconds: 20
            timeoutSeconds: 5
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 5

      volumes:
        - name: logs-volume
          emptyDir: {}