apiVersion: v1
kind: Service
metadata:
  name: rabbitmq
  namespace: payflow
spec:
  ports:
    - name: amqp
      port: 5672
    - name: management
      port: 15672
    - name: prometheus
      port: 15692
      targetPort: 15692
  selector:
    app: rabbitmq
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rabbitmq
  namespace: payflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rabbitmq
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
      - name: rabbitmq
        image: rabbitmq:3-management-alpine
        imagePullPolicy: IfNotPresent  # #### Pull if not present locally ####
        ports:
        - containerPort: 5672
        - containerPort: 15672
        - containerPort: 15692  # Prometheus metrics port
        env:
        - name: RABBITMQ_DEFAULT_USER
          valueFrom:
            secretKeyRef:
              name: db-secrets
              key: RABBITMQ_USER
        - name: RABBITMQ_DEFAULT_PASS
          valueFrom:
            secretKeyRef:
              name: db-secrets
              key: RABBITMQ_PASSWORD
        resources:
          requests:
            cpu: "100m"
            memory: "256Mi"
          limits:
            cpu: "200m"
            memory: "512Mi"
